.thead-dark{
    font-weight: bold;
    text-transform: uppercase;
    background-color: black;
    color: #f2f2f2;
}

.table tr td:hover{
    background-color: rgb(117, 225, 127);
    color: aliceblue;
    border: black;
}

.table tr td:hover:nth-child(4){
    background-color: red;
    color: aliceblue;
    border: 0.5 solid rgb(19, 18, 18);
}

*{
    margin: 0;
    padding:0%;
    box-sizing: border-box;
    font-family: ;
}

.container-fluid{
    width: 90%;
    margin: auto;
}

.table-responsive{
    max-height: 700px;
    box-shadow: rgba(0, 0, 0, 0.25) 0, 25px 50px, -12px;
}

tbody tr:hover{
    background-color: #ffa;

}

td,th{
    position: relative;
}

.table td,
.table th{
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}
td:hover::after,
th:hover::after {
    content: "";
    position: absolute;
    background-color: #f2f2f2;
    left: 00;
    top: -5000px;
    height: 5000px;
    z-index: -1;
    
}